<div class="card specific-w-300 mw-100 h-300 mx-auto">
    <img src="{{thumbnail_url}}" class="card-img-top" alt="{{thumbnail_alt}}">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{subtitle}}</h6>
        <p class="card-text">
            {{description}}
        </p>
        <a href="#" class="btn btn-primary">{{relative_url}}</a>
    </div>
</div>