<!DOCTYPE html>
<html lang="ja" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WillWebGame</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body>
    <header>
        {{-- <h1>WillWebGame</h1> --}}
        {{-- <nav>
            <ul class="navbar-nav d-none d-md-flex ml-auto">

            </ul>
        </nav> --}}
        <nav class="navbar navbar-expand-md"
            style="background-color: var(--bs-content-bg); border-bottom: var(--bs-border-width) solid var(--bs-content-border-color);">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{ asset('assets/images/favicon.png') }}" width="24" height="24"
                        class="d-inline-block align-text-top">
                    WillWebGame
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbar-collapse-2" aria-controls="navbar-collapse-2" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-collapse-2">
                    <ul class="navbar-nav ms-auto">
                        {{-- <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Docs</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Product
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end mt-md-2 rounded-top-0">
                                <li><a class="dropdown-item" href="#">Page builder</a></li>
                                <li><a class="dropdown-item" href="#">Form builder</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Plan and pricing</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Blog</a>
                        </li> --}}
                        <li class="nav-item">
                            <a href="https://github.com/ameryu716" class="navbar-brand">
                                <img src="{{ asset('assets/images/github-mark.svg') }}" alt="github-logo" width="30" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container-sm">
            <div class="row row-cols-1 row-cols-sm-2 g-3">
                <div class="col">
                    <div class="card specific-w-300 mw-100 h-300 mx-auto">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Subtitle</h6>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the
                                bulk of the card's content.
                            </p>
                            <a href="#" class="btn btn-primary">Card link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card specific-w-300 mw-100 h-300 mx-auto">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">Subtitle</h6>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the
                                bulk of the card's content.
                            </p>
                            <a href="#" class="btn btn-primary">Card link</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    @!component('introduction-cards', {
                    thumbnail_url: '',
                    thumbnail_alt: '',
                    title: '漢検2級読みクイズ',
                    subtitle: 'ゲーム感覚で答える読み漢検クイズ',
                    description: '',
                    relative_url: '',
                    })
                </div>
            </div>
        </div>

    </main>
</body>

</html>