<!DOCTYPE html>
<html lang="ja" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WillWebGame</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body>
    @!component('components/header')

    <main class="p-3">
        <div class="container-sm">
            <div class="row row-cols-1 row-cols-sm-3 g-3">
                @each(data in data.links)
                <div class="col">
                    @!component('components/introduction-cards', {
                    thumbnail_url: asset(data.thumbnail_url),
                    thumbnail_alt: '',
                    title: data.title,
                    subtitle: data.subtitle,
                    tags: data.tags,
                    description: data.description,
                    relative_url: data.relative_url,
                    })
                </div>
                @end
            </div>
        </div>

    </main>
</body>

</html>