.fl {
    display: flex;
    align-items: center;
    &.hr {
        flex-direction: row;
    }
&.cl {
    flex-direction: column;
}
    .a-i {
        align-items: initial;
    }
    .a-st {
        align-items: start;
    }
    .a-end {
        align-items: end;
    }
    .j-st {
        justify-content: start;
    }
    .j-c {
        justify-content: center;
    }
    .j-b {
        justify-content: space-between;
    }
    .j-end {
        justify-content: end;
    }
}

.o-i {
    overflow: hidden;
    text-overflow: ellipsis;

}

.h-200 {
    height: 200px;
}

.h-250 {
    height: 250px;
}

.h-300 {
    height: 300px;
}